@import '../../styles/variables.css';

.button {
  border: none;
  outline: none;
  background-color: transparent;

  cursor: pointer;
  color: var(--color-dark-blue);
  font-weight: 400;
  font-size: 14px;
  transition: all 150ms linear; 
}

.button:hover {
  color: var(--color-text);
} 

.button:active {
  color: var(--color-light-blue);
} 

