@import '../../styles/variables.css';

.MuiPagination-root {
     margin-top: 20px;
}

.MuiPagination-ul .MuiPaginationItem-outlined {
    color: rgb(0, 74, 173);
    border: none;
}

.MuiPagination-ul li:nth-last-of-type(-n+2) > .MuiPaginationItem-outlined {
    border: 1px solid rgb(179, 201, 230);
}

.MuiPagination-ul li:nth-of-type(-n+2) > .MuiPaginationItem-outlined {
    border: 1px solid rgb(179, 201, 230);
}

.MuiPagination-ul .MuiPaginationItem-outlined.Mui-selected {
    border: none;
    background-color: transparent;
}

.MuiPagination-ul .MuiPaginationItem-outlined.Mui-selected::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--color-accent);
}
