.fade-appear {
  opacity: 0;
}

.fade-appear-active {
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

/*  */

.title-appear {
  transform: translateX(-100%);
}

.title-appear-active {
  transform: translateX(0);
  transition: transform 250ms linear;
}

/*  */

.table_row-enter {
  transform: translateX(-100%);
}

.table_row-enter-active {
  transform: translateX(0);
  transition: transform 250ms linear;
}

.table_row-exit {
  transform: translateX(0);
}

.table_row-exit-active {
  transform: translateX(-100%);
  transition: transform 250ms linear;
}

