:root {
    --color-dark-blue: #004AAD;
    --color-light-blue: #188BF6;
    --color-accent: #F1B750;
    --color-brown: #805928;
    --color-grey: #717171;
    --color-white: #FFFFFF;
    --color-red: #E93D3D;
    --color-dark: #252020;
    --color-text: #0c3b7a;
    --color-light-grey: #bebebe;
    --color-text: #0c3b7a;
}